.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.form-group label {
  text-align: left;
  flex: 1;
}

.form-group input, .form-group textarea {
  flex: 2;
  width: 100%;
}

.form-group textarea {
  height: 60px;
}

button {
  margin-top: 10px;
}
